
:root {
    --background-light: #ffffff;
    --background-gray: #939393;
    --background-dark: #004A32;
    --background-accent: #eef5f2;
    --background-accent-darker: #d2e0d2;
    --text-light: #ffffff;
    --text-dark: #383A4A;
    --button-dark: #004A32;
    --button-light: #ffffff;
    --link-dark: #004A32;
    --link-light: #ffffff;
    --accent-1: #416955;
    --accent-2: rgba(65, 105, 85, 0.27);
    --accent-3: #edf2ed;
    --accent-4: #d9e5d9;
    --accent-5: #79a890;
    --gray : #545454;
    --custom-shadow: rgba(0, 44, 24, 0.1);
}

/*--background-accent: #f6f8f6;*/

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
h1 {
    color: var(--text-light);
    text-align: center;
}

h2 {
    font-size: 2.25rem !important;
    font-weight: 600;
    line-height: 4rem;
    color: var(--text-dark);
}

.admin-result {
    color: var(--text-light);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

.button-dark {
    background-color: var(--button-dark);
    color: white;
    width: 200px;
    height: 64px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 2;
    border: none !important;
    text-align: center;
}

.basic-button-green {
    background-color: var(--button-dark);
    border: none;
}

.basic-button-green:hover, .basic-button-green:focus{
    background-color: var(--accent-1) !important;
}

.button-dark:hover {
    background-color: var(--accent-1);
    color: white;
}

.button-dark:active {
    background-color: var(--button-dark) !important;
    color: white !important;
}

.form-check-input:focus {
    box-shadow: 0 0 5px var(--accent-2);
    border: none;
}

.form-check-input:checked {
    background-color: var(--accent-1);
    box-shadow: 0 0 5px var(--accent-2);
    border: none;
}

.my-footer {
    background-color: var(--background-dark);
    color: var(--text-light);
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding-top: 3em;
}

.my-footer a{
    color: var(--text-light) !important;
    text-decoration: none;
}

.my-footer a:hover{
    color: var(--accent-2) !important;
    text-decoration: none;
}

.footer-img {
    max-width: 250px;
    height: auto;
}

.alert-danger {
    color: var(--accent-1);
    background-color: var(--accent-3);
    border: 2 px solid var(--background-dark) !important;
}

.side-button {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: none !important;
    color: var(--text-dark) !important;
    margin-bottom: 0.5rem;
    border-radius: 5px 5px ;
}

.side-button:hover {
    background-color: white !important;
    border: none !important;
    color: var(--text-dark);
}

.bg-accent-light {
    background-color: var(--accent-3);
}

.bg-accent-medium {
    background-color: var(--accent-2);
}

.table-button {
    background-color: var(--button-dark);
    border: 1px solid white;
    min-width: 12rem !important;
    max-width: 20rem !important;
    height: 3rem;
    border-radius: 24px;
    font-size: 1.2rem;
    align-content: center;
    color: white;
    text-align: center;
}

.table-button:hover {
    background-color: transparent;
    border: 1px solid white;
    color:white !important;
}

.table-button:active {
    background-color: transparent !important;
    border: 1px solid white !important;
}

.table-button:focus {
    background-color: transparent !important;
    border: 1px solid white !important;
}
/*.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{*/
/*    background-color: transparent !important;*/
/*    border: 1px solid white;*/
/*}*/


.my-table {
    border-radius: 5px !important;
}

.edit-color {
    background-color: var(--accent-3);
    border: 1px solid var(--accent-3);
    color: var(--text-dark);
    font-size: 1rem;
}

.edit-color:hover, .edit-color:focus, .edit-color:active {
    background-color: var(--accent-4) !important;
    border: 1px solid var(--accent-4) !important;
    color: var(--text-dark) !important;
}

.delete-color {
    background-color: var(--accent-2);
    border: 1px solid var(--accent-2);
    color: var(--text-light);
    font-size: 1rem;
}

.delete-color:hover, .delete-color:focus, .delete-color:active {
    background-color: var(--accent-1) !important;
    border: 1px solid var(--accent-1) !important;
}


select {
    background-color: white !important;
}

.transparent-overlay {
    background-color: rgba(255, 255, 255, 0.1);
}

.transparent-overlay2 {
    background-color: rgba(255, 255, 255, 0.8);
}

.transparent-overlay3 {
    background-color: rgba(255, 255, 255, 0.95);
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--accent-3) !important;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--accent-2) !important;
    color: var(--text-dark);
}

.delete-button {
    background-color: rgba(255, 0, 0, 0.3);
    width: 15rem;
}

.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

/*Pagination*/

.pagination .page-item .page-link {
    color: var(--background-dark) !important;

}

.pagination .page-item.active .page-link {
    background-color: var(--background-dark) !important;
    color: var(--text-light) !important;
    border: 1px solid var(--background-dark) !important;
}

.pagination .page-link:hover {
    color: var(--accent-1) !important;
}

.pagination .page-item.active .page-link:hover {
    background-color: var(--accent-1) !important;
}

.pagination .page-item:not(.active) .page-link:focus,
.pagination .page-item:not(.active) .page-link:active {
    box-shadow: 0 0 5px var(--accent-1) !important;
}

/*Show Limit Sidebar Radio Buttons*/

.btn-outline-success {
    color: var(--background-dark) !important;
    border-color: var(--background-dark) !important;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
    background-color: var(--background-dark) !important;
    color: white !important;
}

.btn-check:checked + .btn-outline-success {
    background-color: var(--background-dark) !important;
    color: white !important;
}

.custom-shadow {
    box-shadow: 2px 2px 5px var(--custom-shadow) !important;
}

.card-color {
    background-color: var(--background-accent);
}

.hover-grow {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hover-grow:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.hover-no-shadow-right {
    transition: transform 0.2s ease-in-out;
}

.hover-no-shadow-right:hover {
    transform: translateY(-2px) rotate(0.015turn) scale(108%);

}

.hover-no-shadow-left {
    transition: transform 0.2s ease-in-out;
}

.hover-no-shadow-left:hover {
    transform: translateY(-2px) rotate(-0.015turn) scale(108%);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* REVIEWS */

.reviews {
    margin-top: 30px;
    padding-bottom: 0;
}

.reviews h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.review {
    background-color: var(--background-accent);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.review-icon {
    min-width: 10rem;
}

.review-icon i {
    color: var(--accent-1);
}

.review .rating {
    margin-top: 10px;
}

.review-content {
    flex-grow: 1;
}

.review-content .d-flex {
    display: flex;
    justify-content: space-between;
}

.divider {
    width: 1px;
    background-color: rgba(44, 44, 44, 0.19);
    min-height: 7rem;
    margin-right: 2rem;
}

.review .stars {
    font-size: 1.8rem;
    color: var(--background-dark);
}

.review .stars .empty {
    color: #c7c7c7;
}

.trail-heading {
    text-align: left !important;
}

.user-icon {
    color: var(--accent-1);
}


.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2rem;
    gap: 0.25rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: var(--accent-5);
}

.star-rating input[type="radio"]:checked ~ label {
    color: var(--accent-5);
}

.nav-link.hover-link:hover {
    color: var(--accent-4) !important;
}

.nav-link {
    color: var(--gray) !important;
    /*font-weight: 600;*/
}

.nav-link.active {
    color: var(--accent-1) !important;
    border-bottom: 2px solid var(--accent-5);
    font-weight: 700;
}

.form-check-input:focus {
    box-shadow: 0 0 5px var(--accent-2);
    border: none;
}

.form-check-input:checked {
    background-color: var(--accent-1);
    box-shadow: 0 0 5px var(--accent-2);
    border: none;
}

.form-floating input {
    border-radius: 10px !important;
}

.form-control:focus {
    border-color: var(--button-dark);
    box-shadow: 0 0 5px var(--accent-3);
    background-color: var(--background-light);
}

/* Fade in + move up */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}


.map-container {
    position: relative;
}

.trail-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #444;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.d-none {
    display: none;
}

.trail-popup {
    max-width: 35rem;
}

@media (max-width: 768px) {
    .trail-popup {
        max-width: 20rem;

    }
}

.leaflet-interactive:focus {
    outline: none;
}
