.my-nav-item {
    font-weight: 700;
}

.my-logo {
    width: 250px;
    margin-left: 3rem;
}

    @media (max-width: 1000px) {
        .my-logo {
            margin-top: 1rem;
            width: 200px;
        }
    }

.user-nav {
    background-color: var(--background-accent-darker) !important;
    color: var(--text-light);
    padding: 0.25rem 0;
    z-index: 1049;
    position: relative;
}

.top-nav {
    background-color: var(--background-accent) !important;
    z-index: 1050;
    position: sticky;
    top: 0;
}

.navbar .nav-item.dropdown {
    line-height: 1.2;
}

